.field-container {
  position: relative;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;

  &:first-of-type {
    padding-left: 2px;

    &::before {
      left: 0px;
    }
  }

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    left: 8px;
    width: 2px;
    height: 0.3em;
    background-color: $second-colour;
    content: '';
  }

  &::after {
    right: 8px;
    left: unset;
  }
}

.field {
  position: relative;
  padding: 0 10px 5px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid $second-colour;
  font-size: 1rem;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0.3em;
    background: $second-colour;
    content: '';
  }
}
